body {
   font-weight: 300;
   font-family: 'Lato', sans-serif;
}

.navbar {
    background-image: none;
    background-color: rgba(236, 236, 236, 0.3);
}

#for-lg {
    margin-left: 50em;
    display: inline;
}

#for-md {
    display: none;
}

#for-sm{
    display: none;
}

#hero {
    background-image: url("assets/clutter-hero-2.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}

#hero h1 {
    font-weight: 300;
    text-align: center;
    padding-top: 15%;
    line-height: 2em;
    font-size: 9em;
    color: white;
}

#hero h3 {
    text-align: center;
    font-weight: 300;
    font-size: 4em;
    color: white;
}

#about {
    height: 600px;
    font-weight: 100;
    color: #013243;
    background-color: #ECECEC;
    padding: 5%;
}

#about h2 {
    padding-top: 5%;
    text-align: center;

}

#about h3 {
    padding-top: 10%;
    text-align: center;
}

#about img {
    height: 450px;
}

#features {
    height: 600px;
    background-color: #ABB7B7;
    padding: 8em 4.5em 0 10em;
}

#features .col-lg-4 p {
    text-align: center;
}

#pricing {
    height: 450px;
    background-color: #ECECEC;
    padding-top: 3em;
}

#contact {
    height: 600px;
    background-color: #ABB7B7;
    padding-top: 5%;
}

#contact iframe {
    width: 100%;
    padding: 10% 10% 0;
}

#sm-map {
    display: none;
}

footer {
    height: 300px;
    background-color: #013243;
    color: #C5EFF7;
}

footer ul {
  list-style: none;
  display: inline-block;
  margin: auto;
  padding-top: 18%;
}

/* PUMICE
D2D7D3
210, 215, 211 */

/* EDWARD
ABB7B7
171, 183, 183 */

/* LIGHTNING YELLOW
F5AB35
245, 171, 53 */

/* MADISON
2C3E50
44, 62, 80 */
/*
JAFFA
F27935
242, 121, 53 */

/* GOSSIP
87D37C
135, 211, 124 */

/* JORDY BLUE
89C4F4
137, 196, 244 */

/* background: linear-gradient(
    to right,
    #89C4F4,
    #89C4F4 15%,
    #2C3E50 15%,
    #2C3E50 85%,
    #89C4F4 85%
    ); */



    @media (min-width: 1200px) {
        nav .nav-item:hover {
            border-bottom: #013243 2px solid;
        }
     }

     @media (max-width: 1411px) {
        #for-sm {
            display: none;
        }

        #for-lg{
            display: none;
        }

        #for-md {
            display: inline;
            margin-left: 5em;
        }

    }


    @media (max-width: 1367px) {
        #for-sm {
            display: none;
        }

        #for-lg{
            display: none;
        }

        #for-md {
            display: inline;
            margin-left: 5em;
        }

    }

    @media(max-width: 1240px){
        #about img {
            height: 375px;
        }
    }


    @media (max-width: 1199px) {
        #hero h1 {
            padding-top: 12%;
        }

        #features {
            height: 1200px;
        }

        #features .col-sm-12 {
            padding-top: 3em;
        }

        #features h3 {
            padding-left: 13.5em;
            padding-top: 1.5em;
        }

        footer ul {
          padding-top: 20%;
        }

    }

    @media (max-width: 991px){

        #hero h1 {
            padding-top: 15%;
        }

        #about {
            height: 1200px;
        }

        #about img {
            padding: 5% 0 0 0;
            height: 500px;
        }

        #features {
            height: 950px;
            padding-left: 15%;
        }

        #contact{
            height: 900px;
        }

        #contact iframe {
            width: 100%;
            padding: 10% 10% 0;
        }

        footer ul {
          padding-top: 22%;
        }

    }

    @media (max-width: 767px) {
        #lg-map{
            display: none;
        }
        #sm-map{
            display: inline;
        }

        #about img{
            height: 375px;
        }

        footer ul{
          padding-top: 27%;
        }

    }

    @media (max-width: 690px) {
        #for-md {
            margin-left: 0;
        }

        footer ul{
          padding-top: 35%;
        }
    }

    @media (max-width: 647px) {
        #for-sm {
            display: none;
        }

        #for-lg{
            display: none;
        }

        #for-md {
            display: inline;
            margin-left: 0;
        }

        #about {
            height: 1000px;
        }

        #about img {
            height: 350px;
            margin: 5%;
        }

        #features {
            height: 1400px;
            margin: auto;
        }

    }

    @media (max-width: 610px){
        #for-md{
            display: none;
        }
    }


    @media (max-width: 583px) {
        #for-sm {
            display: none;
        }

        #for-lg{
            display: none;
        }

        #for-md {
            display: none;

        }

        footer ul{
          padding-top: 40%;
        }

    }


     @media (max-width: 575.98px) {
        #for-sm {
            display: inline;
        }

        #for-lg{
            display: none;
        }

    }

    @media (max-width: 550px){
        #about img{
            height: 300px;
        }

        #hero{
            padding-top: 30%;
        }

        #hero h1 {
            font-size: 6em;
        }
    }

    @media (max-width: 451px) {
        #for-sm {
            display: inline;
        }

        #for-lg{
            display: none;
        }

        #hero h1 {
            padding-top: 5%;
        }


        #hero h3{
            padding-top: 5%;
        }

       #contact{
           height: 700px;
           padding-top: 2em;
           padding-left: 0;
       }

        #about{
            height: 800px;
        }

        #about img{
            height: 225px;
            padding-top: 5%;
            padding-left: 1%;
        }
         #features {
            height: 1200px;
        }

        footer ul{
          padding-top: 65%;
        }

    }

    @media (max-width: 415px) {
        #for-sm {
            display: inline;
        }

        #for-lg{
            display: none;
        }


        #features {
            padding: 2.5em;
        }

        /* #features {
            height: 600px;
        } */

        iframe {
            padding-left: 15%;
        }


    }
