body {  
   font-weight: 300;
   font-family: 'Lato', sans-serif;
}

.navbar {
    background-image: none;
    background-color: rgba(236, 236, 236, 0.3);
}

nav .nav-item:hover {
    border-bottom: #013243 2px solid;
}

#for-lg {
    margin-left: 50em;
    display: inline;
}

#for-md {
    display: none;
}

#for-sm{
    display: none;
}

#hero {
    background-image: url("assets/clutter-hero.jpg");
    height: 800px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#hero h1 {
    font-weight: 300;
    text-align: center;
    padding-top: 15%;
    line-height: 2em;
    font-size: 7em;
}

#hero h3 {
    text-align: center;
    font-weight: 100;
    font-size: 3em;
}

#about {
    height: 600px;
    font-weight: 100;
    color: #013243;
    background-color: #ECECEC;
    padding: 4%; 
}

#about h2 {
    padding-top: 10%;
    text-align: center;

}

#about h3 {
    padding-top: 10%;
    text-align: center;
}

#features {
    height: 600px;
    background-color: #ABB7B7;
    padding:10.5em 4.5em 0 4.5em;
}

#pricing {
    height: 450px;
    background-color: #ECECEC;
    padding-top: 3em;
}

#contact {
    height: 600px;
    background-color: #ABB7B7;
    padding-top: 5%;
}

#sm-map {
    display: none;
}

footer {
    height: 300px;
    background-color: #013243;
}

/* PUMICE
D2D7D3
210, 215, 211 */

/* EDWARD
ABB7B7
171, 183, 183 */

/* LIGHTNING YELLOW
F5AB35
245, 171, 53 */

/* MADISON
2C3E50
44, 62, 80 */
/* 
JAFFA
F27935
242, 121, 53 */

/* GOSSIP
87D37C
135, 211, 124 */

/* JORDY BLUE
89C4F4
137, 196, 244 */

/* background: linear-gradient( 
    to right,
    #89C4F4,
    #89C4F4 15%,
    #2C3E50 15%, 
    #2C3E50 85%,
    #89C4F4 85%
    ); */



    @media (max-width: 1367px) { 
        #for-sm {
            display: none;
        }
        
        #for-lg{
            display: none;
        }

        #for-md {
            display: inline;
            margin-left: 5em;
        }

    }

    @media (max-width: 1199px) { 
        #hero h1 {
            padding-top: 2em;
        }

        #features {
            height: 1500px;
        }

        #features .col-sm-12 {
            padding-top: 3em;
        }

        #features h3 {
            padding-left: 13.5em;
            padding-top: 1.5em;
        }

        #features ul {
            padding-left: 13.5em;
            line-height: 2em;
        }

    }

    @media (max-width: 991px){
        #hero h1 {
            padding-top: 2em;
        }
    }

    @media (max-width: 767px) { 
        #lg-map{
            display: none;
        }
        #sm-map{
            display: inline;
        }

    }

    @media (max-width: 647px) { 
        #for-sm {
            display: none;
        }
        
        #for-lg{
            display: none;
        }

        #for-md {
            display: inline;
            margin-left: 1em;
        }

    }

    
    @media (max-width: 583px) { 
        #for-sm {
            display: none;
        }
        
        #for-lg{
            display: none;
        }

        #for-md {
            display: none;

        }

    }


     @media (max-width: 575.98px) { 
        #for-sm {
            display: inline;
        }
        
        #for-lg{
            display: none;
        }

        /* #features {
            height: 750px;
        }

        #features h3 {
            font-size: 1.5em;
        }

        #features ul{
            font-size: 1.5em;
        } */
    }

    @media (max-width: 451px) { 
        #for-sm {
            display: inline;
        }
        
        #for-lg{
            display: none;
        }

       #contact{
           height: 700px;
           padding-top: 2em;
           padding-left: 0;
       }

       #map iframe {
        padding-top: 10%;
        /* margin-left: 10%; */
    }
        /* #features {
            height: 650px;
        }

        #features h3 {
            font-size: 1.25em;
        }

        #features ul{
            font-size: 1.25em;
        } */

    }

    @media (max-width: 415px) { 
        #for-sm {
            display: inline;
        }
        
        #for-lg{
            display: none;
        }

        #hero h1 {
            padding-top: 2em;
        }

        #features {
            padding: 2.5em;
        }

        /* #features {
            height: 600px;
        } */


    }
    
        
        